/oop1/nbproject/private/
/oop1/build/
/FirstProject/nbproject/private/
/FirstProject/build/
/JavaApplication3/nbproject/private/
/JavaApplication3/build/
/Week3/nbproject/private/
/Week3/build/
/Week3Lab/nbproject/private/
/Week3Lab/build/
/Lab/Lab4/nbproject/private/
/Lab/Lab3/nbproject/private/
/Lab/Lab3/build/
/Lab/Lab4/build/
/Lab/StudentsInformation/nbproject/private/
/Lab/StudentsInformation/build/
/Theory/GradeBook/build/
